.app {
  .top-nav {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    padding: 16px;
    background-color: #f5f5f5;
  }
}
